body {
    background-color: #FFECEC;
    background: url("../img/bloemen.jpg");
    background-size: auto;
    background-repeat: repeat;
}

h1 {
    color: black;
    text-align: center;
}

p.one {
    border-color: #E47A7A;
    border-style: solid;
    border-radius: 4px;
    color: black;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #FFECEC;
}

h1.two {
  text-align: center;
}

p.three {
    border-color: aqua;
    border-style: dotted solid; 
    border-width: 2px;
  }

p.foot {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header {
    background-image: url("../img/aardbei.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

#cat {
  background-image: url("../img/hamst.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 41em;
}

footer {
  text-align: center;
  padding: 0.5px;
  background-color: #943131;
  color: #FFAFAF;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration:none;
}

#huidigesite {
  background-color:#943131;
}

#huidigesite:hover {
  background-color: #ddd;
  color: black;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #B74343;
  }

  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #FFAFAF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  

.haar ul {
  display: flex;
  justify-content: space-between;
}

.haar ul li{
  list-style-type: none;
  border-color: #E47A7A;
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  background-color: #FFECEC;
  /* padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px; */
  padding: 5px 15px 5px 15px ;
  margin-left: 5px;
  margin-right: 5px;
}
.haar ul li img  {
  width: 15em;
  height: 20em;
}

.baby div{
  display: flex;
  justify-content: space-around;
  border-color: #E47A7A;
  border-style: solid;
  background-color: #FFECEC;
  border-radius: 4px;
  padding: 5px 15px 5px 15px ;
}

.baby div img{
  width: 10em;
  height: 15em;
}

.muziek div {
  display: flex;
  justify-content: space-around;
 /* border-color: #E47A7A;
  border-style: solid;
  background-color: #FFECEC;*/
  border-radius: 4px;
  padding: 5px 15px 5px 15px ;
}

.muziek div img {
  border-radius: 40em;
  width: 7em;
  height: 7em;
  animation-name: spin;
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}